@import "../../../../styles/variables.scss";

.call {
    position: relative;
    @extend %flex;
    height: 2.1875rem;
    background: transparent;
    z-index: 1000;

    svg {
        height: 100%;
        fill: map-get($color, "primary");
    }
}

.list {
    position: absolute;
    top: 2.7rem;
    right: -4rem;
    @extend %flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid map-get($color, "primary");
    border-radius: 1.5rem;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
    background: map-get($color, "primary");

    &::before {
        content: "";
        top: -1rem;
        left: 57%;
        position: absolute;
        border: 0.5rem solid transparent;
        border-bottom: 0.625rem solid map-get($color, "primary");
    }
}

.btn {
    width: 100%;
    white-space: nowrap;
    background: transparent;
    color: map-get($color, "dark");
    font-weight: 600;
    font-size: 1.125rem;
}

@include tablet {
    .list {
        right: -6rem;
        &::before {
            left: 40%;
        }
    }
}

@keyframes fade-in-custom {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
