@import "../../styles/variables.scss";

.about {
    svg {
        fill: transparent;
        height: 2.875rem;
        stroke: map-get($color, "primary");
        transition: all 0.5s ease-in-out;
        opacity: 0.8;

        & path:last-child {
            stroke: map-get($color, "red");
            opacity: 0.7;
        }
    }

    &:is(:hover, :active) {
        svg {
            opacity: 1;
            @extend %transition;
        }
    }
}
