@import '../../styles/variables.scss';

.about {
	@extend %flex;
	background: transparent;

	& > svg {
		fill: transparent;
		height: 2.875rem;
		stroke: map-get($color, 'primary');
		transition: all 0.5s ease-in-out;
		opacity: 0.8;
		@extend %transition;

		& path:last-child {
			stroke: map-get($color, 'red');
		}
	}

	&:is(:hover, :active) {
		svg {
			opacity: 1;
			@extend %transition;
		}
	}
}

.list {
	position: fixed;
	top: 1rem;
	right: 1rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1rem;
	background: map-get($color, 'primary');
	border-radius: 1rem;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.8);
	padding: 1rem;
	font-weight: 500;
	font-size: 1.125rem;
	z-index: 999;
	cursor: default;
}

.item {
	display: flex;
	align-items: center;
	gap: 1rem;
	color: map-get($color, 'dark');
}

.link {
	display: flex;
	align-items: center;
	gap: 1rem;
	color: map-get($color, 'dark');
	@extend %transition;

	&:is(:hover, :active) {
		opacity: 0.8;
		@extend %transition;
	}
}

.icon {
	fill: map-get($color, 'green');
}

.close {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	@extend %flex;
	height: 2.25rem;
	width: 2.25rem;
	background: transparent;
	color: map-get($color, 'red');
	opacity: 0.8;
	@extend %transition;

	> svg {
		height: 100%;
		width: 100%;
	}

	:is(:hover, :active) {
		opacity: 1;
		@extend %transition;
	}
}

@include mobile {
	.list {
		right: 0;
		width: 100%;
	}
}
