@import '../../../../styles/variables.scss';

.search {
	position: relative;
	@extend %flex;
	padding: 0 3rem 0 2rem;
	font-weight: 400;
	font-size: 1.25rem;
	color: map-get($color, 'dark');
	background: map-get($color, 'primary');
	border-radius: 1.5rem;
	min-height: 40px;
	width: 100%;

	&::placeholder {
		color: map-get($color, 'dark');
		opacity: 0.8;
	}

	&Form {
		position: relative;
		display: flex;
		width: 100%;
	}

	&Icon {
		position: absolute;
		left: 10px;
		top: 50%;
		transform: translateY(-50%);
		font-size: 1.25rem;
		color: map-get($color, 'dark');
		pointer-events: none;
		opacity: 0.8;
		z-index: 1;
	}
}

.reset {
	position: absolute;
	right: 2.75rem;
	top: 50%;
	transform: translate(-50%, -50%);
	@extend %flex;
	height: 100%;
	background: transparent;
	border-radius: 50%;
	color: map-get($color, 'red');
	opacity: 0.8;
	@extend %transition;

	&:is(:hover, :active) {
		opacity: 1;
		@extend %transition;
	}

	& > svg {
		height: 2rem;
		width: 2rem;
	}
}
