@import '../../styles/variables.scss';

.header {
	position: relative;
	display: flex;
	flex-direction: column;
	background: map-get($color, 'green');
}

.container {
	position: relative;
	display: flex;
	align-items: center;
	gap: 1.5rem;
	justify-content: space-between;
	width: min(100% - 1.875rem, 100rem);
	margin: 0 auto;
}

.wrapper {
	position: relative;
	width: 100%;
}

.search {
	&Items {
		position: absolute;
		width: calc(100% - 3.25rem);
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding: 1rem 2rem;
		background: map-get($color, 'primary');
		border-radius: 1rem;
		box-shadow: 0 1px 10px rgba(0, 0, 0, 0.8);
		padding: 1rem;
		font-weight: 500;
		font-size: 1.25rem;
		z-index: 9999;
	}

	&Link {
		position: relative;
		color: map-get($color, 'dark');
		padding: 0.375rem 0;

		&::before {
			content: '';
			position: absolute;
			height: 0.125rem;
			width: 100%;
			transform: scale(0);
			bottom: -0.125rem;
			background: map-get($color, 'dark');
			@extend %transition;
		}

		&:is(:hover, :active) {
			&::before {
				transform: scale(1);
				opacity: 1;
			}
		}

		&:not(:hover, :active) {
			opacity: 0.8;
		}
	}

	&NotFound {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 0.5rem;
	}
}

@include tablet {
	.container {
		gap: 0 1rem;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		justify-items: center;
	}
}

@include tablet {
	.wrapper {
		grid-column-start: 1;
		grid-column-end: 5;
		grid-row-start: 2;
		grid-row-end: 3;
		margin: 0 0 1rem;
	}
}
