@import '../../styles/variables.scss';

.header {
	position: relative;
	display: flex;
	flex-direction: column;
	background: map-get($color, 'green');
}

.container {
	position: relative;
	display: flex;
	align-items: center;
	gap: 1.5rem;
	justify-content: space-between;
	width: min(100% - 1.875rem, 100rem);
	margin: 0 auto;
}

@include tablet {
	.container {
		gap: 1rem;
	}
}
