@import "../../styles/variables.scss";

.sub {
    &Menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: min(100% - 30px, 1400px);
        margin-inline: auto;
    }

    &Item {
        display: flex;
        flex-direction: column;
        margin: 0 0 0 1rem;
        border-right: 0.0625rem solid rgba(236, 231, 225, 0.16);
        padding: 1rem 1rem 0 0;

        &:nth-child(even) {
            border-right: none;
        }

        &:last-child {
            padding: 1rem 1rem 1rem 0;
        }
    }

    &Btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        font-weight: 500;
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: -0.04rem;
        color: map-get($color, "primary");
        background: transparent;
        margin: 0 0 0.5rem 0;
        opacity: 0.85;
        @extend %transition;

        &::after {
            content: "\1F873";
            display: block;
            font-size: 0.875rem;
            @extend %transition;
        }

        &:is(:hover, :active) {
            opacity: 1;
            @extend %transition;
        }
    }
}

.active {
    opacity: 1;

    &::after {
        transform: rotate(-90deg);
        color: map-get($color, "red");
        @extend %transition;
    }
}

.nestedSub {
    &Menu {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &Item {
        display: flex;
    }

    &Link {
        padding: 0.3125rem 0.3125rem 0.3125rem 0;
        font-weight: 400;
        font-size: 1.125rem;
        color: map-get($color, "primary");
        opacity: 0.85;
        @extend %transition;

        &:is(:hover, :active) {
            opacity: 1;
            @extend %transition;
        }
    }
}

@include laptop {
    .sub {
        &Menu {
            grid-template-columns: repeat(1, 1fr);
        }

        &Item {
            border: none;
        }

        &Btn {
            font-size: 2rem;

            &::after {
                font-size: 1rem;
            }
        }
    }

    .nestedSub {
        &Link {
            font-size: 1.5rem;
        }
    }
}

@include tablet {
    .sub {
        &Btn {
            font-size: 1.25rem;
        }
    }

    .nestedSub {
        &Link {
            font-size: 1.125rem;
        }
    }
}
