@import "../../../../styles/variables.scss";

.search {
    position: relative;
    @extend %flex;
    padding: 0.5rem 1rem 0.5rem 2rem;
    font-weight: 400;
    font-size: 1.25rem;
    color: map-get($color, "dark");
    background: map-get($color, "primary");
    border-radius: 1.5rem;
    min-height: 40px;
    width: 100%;

    &::placeholder {
        color: map-get($color, "dark");
        opacity: 0.8;
    }

    &Bar {
        position: relative;
        display: flex;
        width: 100%;
    }

    &Icon {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.25rem;
        color: map-get($color, "dark");
        pointer-events: none;
        opacity: 0.8;
        z-index: 1;
    }
}

@include tablet {
    .search {
        background: transparent;
        width: 2.5rem;
        padding: 0;

        &::placeholder {
            transform: scale(0);
        }

        &Icon {
            left: 0;
            color: map-get($color, "primary");
            font-size: 2.5rem;
        }
    }
}
